@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  display: flex;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #7034e4;
  color: var(--White-100, #FFF);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 500;
  line-height: 88px; /* 100% */
  letter-spacing: -1px;
  font-feature-settings: 'liga' off, 'clig' off;
  margin: 0;
  color: white;
}
/*Support/Overline*/
.subheading {
  color: var(--White-100, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Support/Overline */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.login-button,
.register-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  background-color: white;
  color: #7e3fd4;
}

.register-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.scooter-container {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  overflow: hidden;
}

.scooter {
  position: relative;
  height: 200px;
  animation: roll 10s linear infinite;
}

@keyframes roll {
  0% {
    left: -200px;
  }
  100% {
    left: 100%;
  }
}
