body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .reg-container{
    background-color: #7034e4;
    display: flex;
    margin: 0px;
  height: 100vh;
  width: 100vw;
  justify-content: center;
    align-items: center;
  }
  .reg-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:transparent;
    padding: 50px;
    border-radius: 8px;
    box-sizing: border-box; /* Ensures padding is included in total width/height */
    max-width: 650px; /* Optional: set a max-width */
    width: 100%; /* Ensures it fits the content */
    height: 650px; /* Allows the height to adjust based on content */
  }

  .reg-title {
    color: #fff;
    font-size: 50px;
    margin-bottom: 16px;
    padding-bottom: 30px;
  }

  .reg-form-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }

  .reg-form-button:hover {
    background-color: #bcacf9;
    border-color: #bcacf9;
  }